n8n/workflows/BlackSynapse.json
{
  "name": "BlackSynapse",
  "nodes": [
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        576,
        272
      ],
      "id": "6e23c6c7-f911-4c93-904f-39d6220ae5c6",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "fGizSQbSugyb8K7Z",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        352,
        496
      ],
      "id": "e0d40bd4-f872-4dfc-989e-7ac64f0e0132",
      "name": "ASR - Whisper"
    },
    {
      "parameters": {
        "model": "dimavz/whisper-tiny:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        352,
        672
      ],
      "id": "d4494561-ba22-4b94-875a-4523055045f7",
      "name": "ASR",
      "credentials": {
        "ollamaApi": {
          "id": "fGizSQbSugyb8K7Z",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        80
      ],
      "id": "a505dbc2-f579-494a-bfa9-5a24b9ce3c99",
      "name": "When chat message received",
      "webhookId": "aab151fb-5394-4d06-8ab5-2e86954820e7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d28c37c4-3606-4ee9-91be-5698a34d5ccf",
              "name": "chatInput",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        80
      ],
      "id": "b4e280bf-5eed-4e67-95ea-1f87a6c06a8e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        576,
        80
      ],
      "id": "d3ac01d4-6b02-4045-8129-fb6b0234c582",
      "name": "LLM - Ollama 3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.chatInput.replace(/\\*\\*/g, '').replace(/\\*/g, '').replace(/#/g, '').replace(/```/g, '')) }}\n}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        80
      ],
      "id": "54709550-38cd-4141-9596-38ce192f2d13",
      "name": "TTS",
      "alwaysOutputData": true,
      "executeOnce": false
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ASR - Whisper": {
      "main": [
        []
      ]
    },
    "ASR": {
      "ai_languageModel": [
        [
          {
            "node": "ASR - Whisper",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM - Ollama 3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c50a406-e5e8-4cc6-b8ff-b420a48944d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf62c18d1d7d43f57771f2639fa7581d7f4995b1fc54b37462680c04da0cf259"
  },
  "id": "BLSqWHA8tjmOlR3W",
  "tags": []
}